<html>

<head>
    <script src="../../lib/vue.js"></script>
    <link rel="stylesheet" href="../../lib/bootstrap.css">
</head>

<body>

    <div id="app">
        <div class="card">
            <div class="card-header">
                添加品牌
            </div>
            <div class="card-body">
                <div class="card-text form-inline">
                    <label>
                        Id:
                        <input type="text" class="form-control" v-model="id">
                    </label>
                    <label>
                        Name:
                        <input type="text" class="form-control" v-model="name">
                    </label>
                    <input type="button" value="添加" class="btn btn-primary" @click="add()">
                    <label>
                        关键词搜索:
                        <input type="text" class="form-control" v-model="keywords" />
                    </label>
                </div>
            </div>
        </div>

        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td><a href="" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                list: [{
                        id: 1,
                        name: "奔驰",
                        date: new Date(),
                    },
                    {
                        id: 2,
                        name: "宝马",
                        date: new Date(),
                    }
                ],
                id: '',
                name: '',
                keywords: ''
            },
            methods: {
                add() {
                    var item = {
                        id: this.id,
                        name: this.name,
                        date: new Date()
                    };
                    this.list.push(item);
                    this.id = this.name = '';
                },
                del(id) {
                    // this.list.some((item, i) => {
                    //     if(item.id == id){
                    //         this.list.splice(i, 1);
                    //         return true;
                    //     }
                    // })

                    var index = this.list.findIndex((item) => {
                        if (item.id == id) {
                            return true;
                        }
                    });
                    this.list.splice(index, 1);
                },
                search(keywords) {
                    // var newList = [];
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords) != -1){
                    //         newList.push(item);
                    //     }
                    // });
                    // return newList;

                    return this.list.filter(item => {
                        return item.name.includes(keywords);
                    })
                }
            }
        })
    </script>
</body>


</html>